<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <meta charset="UTF-8">
        <title>Create Roster</title>
    </head>
    <body>
        <div class="container">
            <h1>Generate a Roster</h1>
            <br>
            <form method=post enctype=multipart/form-data>
                <div class="form-row">
                    <div class="col">
                        <label for="class_id_1">Class ID 1/Period 1</label>
                        <input type="text" class="form-control" placeholder="Class ID" id="class_id_1" name="class_id_1">
                    </div>

                    <div class="col">
                        <label id="student_label_1" for="students_1">Students in Period 1</label>
                        <input type="text" class="form-control" placeholder="Eric Wu, Jose Martinez, ..." id="students_1" name="students_1">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <label for="class_id_2">Class ID 2/Period 2</label>
                        <input type="text" class="form-control" placeholder="Class ID" id="class_id_2" name="class_id_2">
                    </div>
                    <div class="col">
                        <label for="students_2">Students in Period 2</label>
                        <input type="text" class="form-control" placeholder="Eric Wu, Jose Martinez, ..." id="students_2" name="students_2">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <label for="class_id_3">Class ID 3/Period 3</label>
                        <input type="text" class="form-control" placeholder="Class ID" id="class_id_3" name="class_id_3">
                    </div>
                    <div class="col">
                        <label for="students_3">Students in Period 3</label>
                        <input type="text" class="form-control" placeholder="Eric Wu, Jose Martinez, ..." id="students_3" name="students_3">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <label for="class_id_2">Class ID 4/Period 4</label>
                        <input type="text" class="form-control" placeholder="Class ID" id="class_id_4" name="class_id_4">
                    </div>
                    <div class="col">
                        <label for="students_4">Students in Period 4</label>
                        <input type="text" class="form-control" placeholder="Eric Wu, Jose Martinez, ..." id="students_4" name="students_4">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="do_not_use_class_ids" name="do_not_use_class_ids" onclick="disableClassIds(this);">
                        <label class="form-check-label" for="do_not_use_class_ids">Do Not Use Class IDs/Periods</label>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">do the magical things pt 2 (generate roster)</button>
            </form>
        </div>

        <script>
            function disableClassIds(checkBox) {
                if (checkBox.checked) {
                    document.getElementById("class_id_1").disabled = true;
                    document.getElementById("class_id_1").value = "";


                    document.getElementById("class_id_2").disabled = true;
                    document.getElementById("students_2").disabled = true;

                    document.getElementById("class_id_2").value = "";
                    document.getElementById("students_2").value = "";

                    document.getElementById("class_id_3").disabled = true;
                    document.getElementById("students_3").disabled = true;

                    document.getElementById("class_id_3").value = "";
                    document.getElementById("students_3").value = "";

                    document.getElementById("class_id_4").disabled = true;
                    document.getElementById("students_4").disabled = true;

                    document.getElementById("class_id_4").value = "";
                    document.getElementById("students_4").value = "";

                    document.getElementById("student_label_1").innerText = "Students";
                } else {
                    document.getElementById("class_id_1").disabled = false;

                    document.getElementById("class_id_2").disabled = false;
                    document.getElementById("students_2").disabled = false;

                    document.getElementById("class_id_3").disabled = false;
                    document.getElementById("students_3").disabled = false;

                    document.getElementById("class_id_4").disabled = false;
                    document.getElementById("students_4").disabled = false;

                    document.getElementById("student_label_1").innerText = "Students in Period 1";
                }
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>