<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <meta charset="UTF-8">
        <title>Attendinez</title>
    </head>
    <body>
        <div class="container">
            <h1>Find out who's absent</h1>
            <h3>
                Create a roster file <a href="/create_roster">here</a>
            </h3>
            <h3>
                **Make sure to stitch your zoom chat files <a href="/stitch">here</a>
            </h3>
            <br>
            <form method=post enctype=multipart/form-data>
                <div class="form-group">
                    <label class="btn btn-primary" for="roster">
                        <input id="roster" type="file" style="display:none"
                        onchange="$('#roster-info').html(this.files[0].name)">
                        Upload Roster
                    </label>

                    <span class='label label-info' id="roster-info"></span>
                </div>
                <div class="form-group">
                    <label class="btn btn-secondary" for="attendance">
                        <input id="attendance" name="attendance" type="file" style="display:none"
                        onchange="
                        let newString = '';
                        let files = document.getElementById('attendance').files;
                        for (let i = 0; i < files.length; i++) {
                            if (i === 0) {
                                newString = newString + files[i].name;
                            } else {
                                newString = newString + ', ' + files[i].name;
                            }
                        }
                        $('#attendance-info').html(newString)" multiple>
                        Upload (multiple) Zoom Atn Chats
                    </label>

                    <span class='label label-info' id="attendance-info"></span>
                </div>
                <button type="submit" class="btn btn-success">do the magical things (upload files)</button>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>